*,
*::after,
*::before {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

.card.dragging{
  opacity: 50%;
}

#fav-box{
  border: 2px solid transparent;
}

#fav-box.dragover{
  border-color: #27ae60;
}

@media (min-width: 1024px) {
  #grid{
    height: calc(100vh - 15rem);
  }

  #fav-box{
    height: calc(100vh - 17.5rem);
  }
}